
.box-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box{
  height:150px;
  width:150px;
  margin: 5px;
  border-radius: 10px;
  transition: 2s;
}

/*0-grey*/
.state-0{
  background: grey !important;
}
/*1-temp color*/
.state-1{
}

/*2-color*/
.state-2{
  border: 0.5px black solid;
}