.navbar{
  background-color:darkblue ;
  color:white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  .navbar h2{
    margin: 0px 10px;
  }
  .navbar p{
    margin: 0 10px;
    align-self: center;
    font-weight: bold;
  }
  
.box-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box{
  height:150px;
  width:150px;
  margin: 5px;
  border-radius: 10px;
  transition: 2s;
}

/*0-grey*/
.state-0{
  background: grey !important;
}
/*1-temp color*/
.state-1{
}

/*2-color*/
.state-2{
  border: 0.5px black solid;
}